/*
LIST OF COLORS
Pale blue: #3061FF 
Off-white: #efefef
Very light pink: #fff2f2;
Light grey: #e6e6e6;
Creme gold: #ffd57b;
Logo gold: ffe8b7;
Final logo gold: ffeeca;
Title blue: 3d99dd;
Deep blue: #194cab;
Button hover: f51515;
*/

@font-face {
	font-family: '3MCircularTT-Regular';
	src: url('fonts/3MCircularTT-Regular.ttf')
}

@font-face {
	font-family: '3MCircularTT-Bold';
	src: url('fonts/3MCircularTT-Bold.ttf');
}

body {
	/*background-color: #efefef;*/
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

.container {
	background-color: #efefef;
	display: grid;
	grid-template-columns: 288px 206px 586px 200px;
	max-width: 1280px;
	/*grid-template-rows: 189px minmax(100px, auto) minmax(100px, auto);*/
	grid-template-rows: 189px minmax(192px, auto) minmax(192px, auto) minmax(192px, auto) minmax(192px, auto) 115px;
}

header{
	/*background-color: red;
	grid-column: 1 / 4;*/
}

.logo {
	background-color: #ffeeca;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: grid;
	justify-content: center;
	align-content: center;
}

.logo img {
	/*vertical-align: middle;*/
}

.banner {
	background-color: pink;
	grid-column: 2 / 5;
	grid-row: 1 / 2;
}

nav{
	background-color: #ffd57b;
	grid-column: 1 / 2;
	grid-row: 2 / 6;
}

nav .text {
	margin-left: 20px;
}

nav h1 {
	font-family: '3MCircularTT-Regular', Verdana;
	font-size: 23px;
}

nav h2 {
	font-family: '3MCircularTT-Regular', Verdana;
	font-size: 21px;
}

nav li {
	font-family: Verdana;
	font-size: 18px;
}

main {
	background-color: #efefef;
	display: grid;
	grid-column: 2 / 4;
	grid-row: 2 / 6;
}

main .srd_standard {
	/*background-color: green;*/
	display: grid;
	align-content: center;
	/*grid-row: 2 / 3;*/
}

	main .srd_standard .product_image {
		display: grid;
		grid-column: 2 / 3;
		align-content: center;
		grid-row: 2 / 3;
		border: 2px solid #194cab;
		margin-left: 36px;
	}

	main .srd_standard .product_description {
		display: grid;
		grid-column: 3 / 4;
		align-content: center;
		grid-row: 2 / 3;
		margin-left: 16px;
		margin-right: 25px;
	}

main .srd_le {
	/*background-color: lime;*/
	display: grid;
	align-content: center;
	/*grid-row: 3 / 4;*/
}
	main .srd_le .product_image {
		display: grid;
		grid-column: 2 / 3;
		align-content: center;
		grid-row: 3 / 4;
		border: 2px solid #194cab;
		margin-left: 36px;
	}

	main .srd_le .product_description {
		display: grid;
		grid-column: 3 / 4;
		align-content: center;
		grid-row: 3 / 4;
		margin-left: 16px;
		margin-right: 25px;
	}

main .srd_retrieval {
	/*background-color: green;*/
	display: grid;
	align-content: center;
	/*grid-row: 4 / 5;*/
}

	main .srd_retrieval .product_image {
		display: grid;
		grid-column: 2 / 3;
		align-content: center;
		grid-row: 4 / 5;
		border: 2px solid #194cab; 
		margin-left: 36px;
	}

	main .srd_retrieval .product_description {
		display: grid;
		grid-column: 3 / 4;
		align-content: center;
		grid-row: 4 / 5;
		margin-left: 16px;
		margin-right: 25px;
	}

main .srd_personal {
	/*background-color: lime;*/
	display: grid;
	align-content: center;
	/*grid-row: 5 / 6;*/
}

	main .srd_personal .product_image {
		display: grid;
		grid-column: 2 / 3;
		align-content: center;
		grid-row: 5 / 6;
		border: 2px solid #194cab;
		margin-left: 36px;
	}

	main .srd_personal .product_description {
		display: grid;
		grid-column: 3 / 4;
		align-content: center;
		grid-row: 5 / 6;
		margin-left: 16px;
		margin-right: 25px;
	}

main .product_description h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

main .product_description p {
	margin-top: 4px;
	margin-bottom: 0px;
}

/*main img {
	margin-left: 36px;
}*/

main h1 {
	font-family: '3MCircularTT-Bold', Verdana;
	font-weight: normal;
	font-size: 24px;
}

main p {
	font-family: Verdana;
	font-size: 16px;
}

aside {
	background-color: #3061FF;
	grid-column: 4 / 5;
	grid-row: 2 / 5;
	color: #efefef;
}

aside .text {
	margin-left: 15px;
	margin-right: 15px;
}

aside h1 {
	font-family: '3MCircularTT-Bold', Verdana;
	font-weight: normal;
	color: #efefef;
	font-size: 21px;
}

aside p {
	font-family: Verdana;
	font-size: 12px;
}

.button p {
	font-family: '3MCircularTT-Regular', Verdana;
	font-size: 14px;
	margin: 20px 0 20px 0;
}

	.button a {
		padding: 10px;
		background-color: skyblue;
		text-decoration: none;
		border: solid darkblue 1px;
	}

	.button a:hover {
		background-color: #f51515;
		text-decoration: underline;
		color: #efefef;
		border: solid #194cab 2px;
	}

.contact h2 {
	font-family: Arial;
	font-size: 12px;
}

.contact p {
	font-family: Arial;
	font-size: 10px;
}

footer {
	background-color: #ffeeca;
	grid-column: 1 / 5;
	grid-row: 6 / 7;
	font-family: Verdana;
	font-size: 16px;
	display: grid;
}

	footer #logo_science_applied {
		display: grid;
		grid-column-start: 1;
		align-content: center;
		margin-left: 20px;
	}

	footer #copyright {
		display: grid;
		grid-column-end: 4;
		text-align: right;
		align-content: center;
		margin-right: 20px;
	}